nav {
  ul a,
  form,
  .brand-logo {
    color: #444;
  }
}

.grid {
  margin: 0 auto;
}

.grid-item {
  width: 250px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;

  .photo {
    border-bottom: 1px solid #ccc;

    img {
      border-radius: 5px 5px 0 0;
    }

    h3 {
      font-size: 1em;
      margin: 0;
      padding: 6px 10px;
    }
  }
  .owner {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 10px;
    a {
      color: #fff;
      text-decoration: none;
      vertical-align: top;
      text-shadow: 0 0 0.8em #000;
    }
    img {
      border-radius: 2px;
      margin-right: 8px;
    }
  }

  .notes {
    padding: 6px 10px;
  }
  .edit {
    padding: 0 10px 10px;
    text-align: right;
  }
}

.draft {
  background-color: #999;
}
