nav {
  ul a,
  form,
  .brand-logo {
    color: #444;
  }
}

.grid {
  margin: 0 auto;
}

.grid-item {
  width: 300px;

  .owner {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    a {
      color: #fff;
      text-decoration: none;
      text-shadow: 0 0 0.8em #000;
    }
    img {
      border-radius: 2px;
      margin-right: 5px;
    }
  }
}
