html,
body {
  background: #ccc;
}

.margin--r5 {
  margin-right: 5px;
}

.vertical--middle {
  vertical-align: middle;
}

.blockimage {
  display: block;
}

/* override materialize default style */
.card .card-content .card-title {
  line-height: inherit;
  font-size: 18px;
}
.card .card-content,
.card .card-action {
  padding: 10px;
}
