html,
body {
  background: #ccc;
}

.margin--r5 {
  margin-right: 5px;
}

.vertical--middle {
  vertical-align: middle;
}

.blockimage {
  display: block;
}

/* override materialize default style */
.card .card-content .card-title {
  line-height: inherit;
  font-size: 18px;
}
.card .card-content,
.card .card-action {
  padding: 10px;
}
.picker__select--month.browser-default {
  width: 32%;
}
.picker__select--year.browser-default {
  width: 33%;
}

.error_notification {
  color: #F44336;
  font-weight: 500;
}

.input-field.field_with_errors {
  input {
    border-bottom: 1px solid #F44336;
    box-shadow: 0px 1px 0px 0px #F44336;
  }
  .error {
    color: #F44336;
  }
}

[type="checkbox"] + label {
  margin: 0 0 15px 0;
}

nav .input-field input {
  height: 64px; /* nav height */
}
